
.background{
 background-color: #555;   
}

h2{
    text-align: center;
    justify-content: center;
    color: red;
    margin: 1em 0;
}
form{
    /* display: flex; */
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #f9f9f9;
    justify-content: center;
}


input{
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    border: 1px solid #CCC;
}

label{
    justify-content: center;
    display: block;
    margin: 0.5em 0 0.5em 0;
    font-weight: bold;
    font-size: 1.2em;
}


.container-fluid{
    background-color: #CCC;
    padding: 0; 
    border-color: #e7e7e7;
    border-radius: 0;
    padding: 0;
    /* margin-bottom: 20%; */
}
.navbar-brand img{
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
}



.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.container img {
    width: 20%;
    height: auto;
}
.content {
    padding: 15px;
}
h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
p {
    font-size: 14px;
    color: #555;
}
.likes {
    font-size: 13px;
    font-weight: bold;
}
.timestamp {
    font-size: 12px;
    color: gray;
}

.list-group-item {
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background: #0056b3;
}

